.tablenav-pages a.button-active {
    background: #0073aa;
    color: white;
}

.sorting-indicator-desc {
    width: 10px;
    height: 4px;
    margin-left: 7px;
    visibility: visible;
}
.sorting-indicator-desc::before {
    content: "\f140";
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0;
    top: 4px;
    left: -8px;
    line-height: 10px;
    position: relative;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    color: #444;
}
.sorting-indicator-asc {
    /* display: block; */
    width: 10px;
    height: 4px;
    margin-top: 8px;
    margin-left: 7px;
    visibility: visible;
}
.sorting-indicator-asc::before {
    content: "\f142";
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0;
    top: 4px;
    left: -8px;
    line-height: 10px;
    position: relative;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    color: #444;
}

.status-draft {
    margin-right: 5px; 
    background: #3F58DA; 
    color: #fff; 
    font-weight: 800; 
    padding: 2px 5px; 
    border-radius: 3px;
}

.status-pub {
    margin-right: 5px; 
    background: #2AC02C; 
    color: #fff; 
    font-weight: 800; 
    padding: 2px 5px; 
    border-radius: 3px;
}

.title-header-titel {
    cursor: pointer;
    cursor: hand;
}

.title-header-mid {
    cursor: pointer;
    cursor: hand;
}